body{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
    color: white;
}
.head{
    padding-top: 50px;
    float:left;
    width: 360px;
    height:100px;
    background-color: rgb(38, 38, 38);
    border: 2px solid grey;
}
.head-div{
    padding-top: 25px;
    float:left;
    width:360px;
    height:50px;
    background-color: rgb(38,38,38);
    border: 2px solid grey;
}
.subhead{
    font-size: 25px;
    padding-top: 21px;
    float:left;
    width: 117px;
    height:50px;
    background-color: rgb(38,38,38);
    border: 2px solid grey;
}
.row{
    clear:both
}
.cell{
    background-color: rgb(179, 179, 179);
    color: black;
    font-weight: 300;
    font-size: 29px;
    width:360px;
    padding-top: 20px;
    height:50px;
    float:left;
    border: 2px solid grey;
}
.celldiv{
    background-color: rgb(179, 179, 179);
    color: black;
    font-weight: 300;
    font-size: 29px;
    width:117px;
    float:left;
    border: 2px solid grey;
    padding-top: 20px;
    height:50px;
}